.darkBg {
    position: fixed !important;
    background-color: rgba(43, 43, 43, 0.607) !important;
    width: 100vw;
    height: 105vh !important;
    z-index: 30;
    top: 49% !important;
    left: 0;
}


.centered {
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
}

.modal {
    position: relative;
    top: 0;
    left: 0;
    z-index: 40;
    width: 250px !important;
    height: 500px !important;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    color: var(--text_color);
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
    height: 50px;
    background: var(--bg);
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 2px solid var(--border);
}

.heading {
    margin: 0;
    padding: 10px;
    color: var(--text_color);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: var(--text_color);
    text-align: center;
    overflow: scroll;
}

.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 5px;
    border-radius: 8px;
    height: 20px;
    width: 20px;
    text-align: center;
    border: none;
    font-size: 18px;
    color: white;
    background: rgb(10, 60, 223);
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
    /* z-index: 10; */
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}