.myWit{
    border: 2px solid var(--border);
    border-radius: 5px;
    margin: 10px 0px;
    background-color: var(--bg);
}
.divide{
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
}

.asd:hover{
    border: 2px solid var(--border);
    background-color: var(--heading);
    color: white;
    font-weight: 600;
}

.fgh{
    background-color: var(--heading);
    color: white;

    /* background-color: ; */
}