.image {
    border-radius: 50%;
    border: 2px solid var(--border);
    overflow: hidden;
    object-fit: cover;
    height: 40px !important;
    width: 40px !important;
}

.postcontainer {
    padding: 10px 0px 0px 0px;
    width: 80%;
    margin: 0px auto;
    border: 2px solid var(--border);
    border-radius: 5px;
}

.input_comment {
    resize: none;
    border: none;
    padding: 0px 10px;
    background-color: var(--body_background);
    color: var(--text_color);
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 80%;
}

.post_button {
    width: 20%;
    background-color: var(--bg);
    color: var(--text_color);
    border: 2px solid var(--border);
    padding: 5px 0px;
}

.post_button:hover {
    background-color: var(--body_background);
}

.commentinput {
    width: 100%;
    border-top: 2px solid var(--border);
    align-items: center;
}

.left_header {
    padding-bottom: 10px;
    gap: 5px;
}

.header {
    border-bottom: 2px solid var(--border);
}

.profile_pic {
    padding-left: 5px;
    padding-right: 5px;
}

.content {
    padding: 5px;
    max-height: 60vh;
    min-height: 20vh;
}



.content img {
    max-height: 40vh;
    width: 40%;
    margin: 20px auto;
    object-fit: contain;
    object-position: center center;
}

.footer {
    border-top: 2px solid var(--border);
    padding-top: 4px;
    padding-bottom: 4px;
}

.likes {
    padding-left: 10px;
}

.show_comments {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(16, 13, 13, 0.82);
}

.center-div {
    /* width: 50%; */
    position: fixed;
    /* height: 15%; */
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 100%;
    background-color: var(--body_background);
    position: relative;
    border: 2px solid var(--border);
    top: 0%;
    z-index: 10;
    left: 0%;
    /* height: 50%; */
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    gap: 10px;
}


.postPic {
    background-color: var(--body_background);
    display: flex;
    align-items: center;
    width: 40%;
    height: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postPic img {
    height: 60vh;
    object-fit: contain;
    object-position: center center;
}

.details {
    /* width: 60%; */
    height: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border);
}

.comment-section {
    height: 60vh;
    flex-grow: 4;
    text-align: left;
    margin-left: 10px;
    overflow: scroll;
}

.comment {
    padding: 1px 0px;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 5px;
    border-radius: 8px;
    height: 20px;
    width: 20px;
    text-align: center;
    border: none;
    font-size: 18px;
    color: white;
    background: rgb(10, 60, 223);
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
    /* z-index: 10; */
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}

@media screen and (max-width: 768px) {
    .postcontainer {
        width: 90%;
    }
}

.replyinput {
    display: none;
}