.darkBg {
    background-color: rgba(0, 0, 0, 0.607);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal1 {
    position: relative;
    width: 250px;
    height: 170px;
    background: var(--bg);
    color: var(--text_color);
    z-index: 20;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
    height: 50px;
    background: var(--bg);
    overflow: hidden;
    border-top-left-radius: 16px;
    border-bottom: 2px solid var(--border);
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: var(--text_color);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: var(--text_color);
    text-align: center;
}

.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 5px;
    border-radius: 8px;
    height: 20px;
    width: 20px;
    text-align: center;
    border: none;
    font-size: 18px;
    color: white;
    background: rgb(10, 60, 223);
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
    /* z-index: 10; */
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}

.logOutBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
}

.logOutBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
}

.cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fcfcfc;
    background: #2c3e50;
    transition: all 0.25s ease;
}

.cancelBtn:hover {
    box-shadow: none;
    transform: translateY(-5px);
}